<div class="container">
    <!-- Search input -->
    <mat-form-field appearance="fill" class="search-input">
        <mat-label>Search by name</mat-label>
        <input matInput type="text" [(ngModel)]="searchText" placeholder="Search">
    </mat-form-field>
    <!-- Search button -->
    <button mat-raised-button color="primary" (click)="applyFilters()" class="searchButton">Search</button>
  
    <!-- Category filter -->
    <mat-form-field appearance="fill" class="category-filter">
        <mat-label>Category</mat-label>
        <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilters()">
            <mat-option *ngFor="let category of categories" [value]="category">
                {{ category }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="warn" (click)="resetCategory()" class="resetCategory">Reset</button>
</div>
  
<!-- Display filtered products -->
<div class="grid-container">
    <mat-card *ngFor="let product of filteredProducts" class="card" (click)="selectProduct(product)">
      <img mat-card-image [src]="product.imageUrl" [alt]="product.name">
      <mat-card-content>
        <h2 mat-card-title>{{ product.name }}</h2>
        <p mat-card-subtitle>{{ product.category }}</p>
        <p mat-card-content>{{ product.description }}</p>
        <p mat-card-subtitle>Price: ${{ product.price }}</p>
      </mat-card-content>
    </mat-card>
</div>
