.container {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    padding: 20px;
}

.search-input {
    width: 300px;
    height: 70px;
}

.searchButton {
    margin-right: 10%;
    margin-left: 20px;
    height: 45px;
}

.category-filter {
    width: 200px;
    height: 70px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card {
    max-width: 300px;
    margin: auto;
}

.mat-form-field-appearance-fill .mat-form-field-flex .mat-form-field-infix input {
    height: 10px; /* Adjust the height of the input */
}

.mat-form-field-appearance-fill .mat-form-field-flex .mat-form-field-infix {
    padding: 6px 8px; /* Adjust the padding */
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    height: auto !important; /* Ensure the height is set to auto */
}

.resetCategory {
    margin-right: 10%;
    margin-left: 20px;
    height: 45px;
}